@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,600&display=swap%27'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif";
    background-color: #98717F;
    overflow-y: hidden;
  }
body{
  margin: 0;
  padding: 0;
  background-image: url(../images/BackgroundPattern.png);
  height: 100%;
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 1.5rem;
  padding-left: 100px;
  margin: .5rem;
}
.title a{
  text-decoration: none;
  color: black;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 50px;
  cursor: pointer;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover{
  background-color: #a5003c;
  border-bottom: 3px solid black;
  transition: all .3s ease;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
img {
  height: fit-content;
  width: fit-content;
}
.aboutUs {
  margin-left: 10%;
  width: 30%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: justify;
}
img {
  height: 100%;
  width: 100%;
}

.aboutUs > h1 {
  padding: 10px;
  background-color: rgba(0,0,0,0);
}
.aboutUs > h4 {
    padding: 10px;
    font-weight: 300;
    background-color: rgba(0,0,0,0);
}

.icon {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    right: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: justify;
    background-color: #866873;
    box-shadow: #4C3B41 18px 18px;
    background-image: url(../images/logo.png);
    background-position-x: -40px;
    background-position-y: -50px;
}
.iconText {
    padding: 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    position: absolute;
    top: 50%;
    right: 22.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 200%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2{
    max-width: 100px;
    padding: 50px 0;
}
@media(max-width: 800px){
  nav {
    position: relative;
    z-index: 1;
  }
  .name {
    font-size: 15px;
  }
  .toggle-button{
    display: flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items:flex-start;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a{
    padding: .7rem 3rem;
  }
  .navbar-links.active{
    display: flex;
  }
  .icon {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    right: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: justify;
    background-color: #866873;
    box-shadow: #4C3B41 10px 10px;
    background-image: url(../images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
  }

  .aboutUs > h1 {
    padding: 10px;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    z-index: 10;
  }
  .aboutUs > h4 {
    padding: 10px;
    font-weight: 300;
    background-color: rgba(0,0,0,0);
    font-size: 10px;
  }
}


  
