@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,600&display=swap%27'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "poppins", "sans-serif";
    zoom: 100%;
    overflow-y: hidden;
}

body{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 1.5rem;
  padding-left: 100px;
  margin: .5rem;
}
.title a{
  text-decoration: none;
  color: black;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 50px;
  cursor: pointer;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover{
  background-color: #a5003c;
  border-bottom: 3px solid black;
  transition: all .3s ease;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
body {
  background-color: #A17D8A;
}

.image {
  margin: auto;
  width: 50%;
  padding-top: 4%;
  padding-right: 21%;
}

.map {
  height: 75vh;
  width: 150vh;
  position: fixed;
}

h1 {
  padding-top: 30px;
  padding-left: 55px;
  position: absolute;
  top: 10%;
  font-size: 50px;
}

.indonesia{
  padding-left: 55px;
  position: absolute;
  top: 30%;
  font-size: 40px;
}

.flexbox {
  column-count: 2;
  color: white;
  position: relative;
  padding-top: 170px;
  padding-left: 140px;
  column-gap: 600px;
  text-shadow: 0 0 5px black;
}

.flexbox > div {
  padding: 20px;
}

@media(max-width: 800px){
  .toggle-button{
      display: flex;
  }
  .navbar-links{
      display: none;
      width: 100%;
  }
  .navbar{
      flex-direction: column;
      align-items:flex-start;
      position: relative;
  }
  .navbar-links ul{
      width: 100%;
      flex-direction: column;
  }
  .navbar-links li{
      text-align: center;
  }
  .navbar-links li a{
      padding: .7rem 3rem;
  }
  .navbar-links.active{
      display: flex;
  }
  h1 {
    font-size: 20px;
    margin-top: 0px;
  }
  .indonesia {
    font-size: 20px;
    margin-top: -10px;
  }
  .flexbox {
    margin-top: -120px;
    padding-bottom: 200px;
    column-gap: 300px;
    font-size: 8px;
    margin-left: -50px;
  }
}